<header class="topbar">
<div class="topbar__inner">
<a aria-label="Go to Home" class="brand" href="index.html">
<span aria-hidden="true" class="brand__mark"></span>
<span class="brand__text">Portfolio</span>
</a>
<nav aria-label="Primary navigation" class="nav">
<a class="nav__link is-active" href="index.html">Home</a>
<a class="nav__link" href="about.html">About Me</a>
<a class="nav__link" href="ism.html">About ISM</a>
<a class="nav__link" href="blog.html">Weekly Progress</a>
<a class="nav__link" href="research.html">Research</a>
<a class="nav__link" href="mentorship.html">Mentorship</a>
<a class="nav__link" href="projects.html">Projects</a>
</nav>
<button aria-expanded="false" aria-label="Toggle navigation" class="navToggle" id="navToggle">
        ☰
      </button>
</div>
</header>